<% include ./partials/header.ejs %>

<div class='container'>
   <div class='row'>
      <% cakes.forEach(function(cake){ %>
         <div class='col-md-4 col-sm-6'>
            <div class='card'>
               <img class='card-img-top' src='<%= cake.image %>'>
               <div class='card-body'>
                  <h5 class='card-title galada crimson-text'><%= cake.name %></h5>
                  <p class='card-text'><%= cake.description %></p>
                  <a class='card-text btn btn-sm crimson text-white' href='/cakes/<%= cake._id %>'>Read More</a>
               </div>
            </div>
         </div>
          
      <% }) %>
   </div>
</div>


<% include ./partials/footer.ejs %>